.search-input__icon
	background-image url('../../img/i_search.png')
	height 18px
	width 18px
	appearance none
	border none
	cursor pointer
	background-color transparent
	position absolute
	right 0
	top 10px
	&:hover
		opacity .7