.user__logout
	margin-left 10px
	display inline-block
	vertical-align middle
	background-image url('../../img/i_on.png')
	width 20px
	height 23px
	cursor pointer
	appearance none
	border none
	background-color transparent
	&:hover
		opacity .7