.input__control
	display block
	border none
	border-bottom 1px solid #d7d7d7
	appearance none
	height 40px
	width 100%
	font-size 14px
	color #9e9e9e 
	background-color transparent
	padding-right 25px
	&:before
		content:''